<h1>Recurring Event</h1>

<table>
  <thead>
  <th>Name</th>
  <th>Next Four Events</th>
  </thead>

  <tbody>
  <tr>
    <td><%= @recurring_event.name %></td>
    <% if @recurring_event.events.present? %>
       <td><%= @recurring_event.next_four.map(&:delivery_date) %></td>
    <% end %>
  </tr>
  </tbody>
</table>

<%= link_to "Back", recurring_events_path %>